@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "https://unpkg.com/open-props/easings.min.css";

body {
    background: #FFFAF7;
    height: 100vh;
}

#navbar {
    height: 12vh;
}

html:not([data-scroll='0']) nav {
    position: fixed;
    top: 0;
    z-index: 999999;
    transition: 0.5s ease all;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.about-content, .about-two, .about-two-content, .about-three, .about-three-content > div {
    width: 60vw;
}

.skills, .certs {
    width: 30vw;
}

.swiper-button-next, .swiper-button-prev {
    z-index: 9999;
}

.slider-content {
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60vw;
}

.slider-content h2 {
    font-size: 24px;
}

.title {
    color: #6895D2;
    margin-bottom: 20px;
}

.swiper-slide {
    display: flex !important;
    justify-content: center !important;
}

.swiper-slide span {
    font-weight: 800;
}

#contact form {
    width: 60vw;
    min-height: 100px;
}
